/* styles.css */

.root-start {
    -fx-background-image: url(../images/root_start.png);
}

/* 设置背景 */
.root-classic {
    -fx-background-image: url(../images/classic/background.png);
    -fx-background-size: cover;
    -fx-opacity: 0.85;
}

.root-elden {
    -fx-background-image: url(../images/elden/background.png);
    -fx-background-size: cover;
    -fx-opacity: 0.85;
}

.root-PvZ {
    -fx-background-image: url(../images/PvZ/background.png);
    -fx-background-size: cover;
    -fx-opacity: 0.85;
}

.label {
    -fx-font-size: 50;
    -fx-text-fill: #ffffff;
}

.classic-button {
    -fx-background-color: #ff8080;
    -fx-font-size: 40;
    -fx-min-width: 70;
    -fx-min-height: 70;
}

.elden-button {
    -fx-background-color: #ffcc00;
    -fx-font-size: 40;
    -fx-min-width: 70;
    -fx-min-height: 70;
}

.PvZ-button {
    -fx-background-color: #71ffb4;
    -fx-font-size: 40;
    -fx-min-width: 70;
    -fx-min-height: 70;
}

/* 设置diy按钮格式 */
.DIY-button {
    -fx-background-color: #fffd71;
    -fx-font-size: 40;
    -fx-min-width: 70;
    -fx-min-height: 70;
}

/* 设置旋转按钮的样式 */
.rotate-button {
    -fx-background-color: #ffd573;
    -fx-max-width:  70;
    -fx-max-height: 70;
    -fx-font-size: 20;
    -fx-border-radius: 15;
}

/* 设置旋转按钮容器的样式 */
.rotate-button-container {
    -fx-spacing: 30;
    -fx-alignment: center;
    -fx-padding: 0 0 60 0;
}

/* 设置退出按钮的样式 */
.exit-button {
    -fx-background-color: #fd3232; /* Red */
    -fx-min-width:  70;
    -fx-min-height: 70;
    -fx-text-fill: #c2fff3;
    -fx-font-size: 30;
}

/* 设置返回按钮的样式 */
.return-button {
    -fx-background-color: #9cff80; /* Red */
    -fx-min-width:  70;
    -fx-min-height: 70;
    -fx-text-fill: #000000;
    -fx-font-size: 14;
}

.switch-mode-button {
    -fx-background-color: #ffdd00;
    -fx-min-width:  70;
    -fx-min-height: 70;
    -fx-text-fill: #ff3333;
    -fx-font-size: 20;
}

.gameGrid {
    /*-fx-border-color: #f8f2f2;*/
    /*-fx-border-width: 10px;*/
    -fx-hgap: 5;
    -fx-vgap: 5;
}

/* 设置棋子的基础样式 */
.elden-chess {
    -fx-background-image: url("../images/elden/background/default.png");
    -fx-min-width: 65;
    -fx-min-height: 65;
    -fx-background-radius: 15; /* 背景圆角 */
    -fx-border-radius: 15; /* 边框圆角 */
}

.classic-chess {
    -fx-background-color: #fae6cf;
    -fx-min-width: 65;
    -fx-min-height: 65;
    -fx-background-radius: 15; /* 背景圆角 */
    -fx-border-radius: 15; /* 边框圆角 */
}

